  
body {
	font-face: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 10pt;
	margin-top:0;
	margin-right:0;
	margin-left:0;
	border-left: 0 solid black;
	border-bottom: 0 solid #D6DEFF;
	font-family: Arial;
}
.clearbody {
	font-family: arial;
	font-size: 10pt;
	margin-top:0;
	margin-right:0;
	margin-left:0;
	border:0;
}

.header A
{
	font-face: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size:10pt;
	color:steelblue; 
	text-decoration: none;
}
.header A:Hover
{
	font-face: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size:10pt;
	color:black; 
	text-decoration: none;
}

.code {
	width: 850;
	padding-top:12px;
	padding-bottom:1px;
	padding-left:45px;
	padding-right:45px;
	font-family:courier; 
	font-size:10pt; 
	background-color:#efefef; 
	border: 2 inset #f2f2f2;

}

.faq {
	padding-top:1px;
	padding-bottom:1px;
	padding-left:20px;
	margin-bottom:10;
	margin-top:4;
	font-family:arial; 
	font-size:10pt; 
	background-color:#f2f2f2; 
}

.button 
{
	color:green;
	border-bottom: none;
	text-decoration:none;
	background-color:#eeeeee;
	width:130;
	color:black;
	font-family:arial;
	text-align:center;
	font-weight:400;
	font-size:10pt;
	padding:2;
	margin-top:5;
	display: inline-block;
	border:1 silver inset;
	
}
.button2 
{
	color:white;
	border-bottom: none;
	text-decoration:none;
	background-color:#eeeeee;
	width:90;
	color:black;
	font-family:arial;
	text-align:center;
	font-weight:400;
	font-size:11px;
	padding:2;
	display: inline-block;
	border:1 silver inset;
}

p,li,td
{
	font-family: arial;
	font-size: 10pt;
}

.page
{
	margin:20;
	width:980;
	text-align:left;
}

.data_body
{
margin:0;
}
.data_background 
{
background-image:url('images/border.gif');
}
.data_window
{
border:3 silver solid;
background-color:white;
margin-left:120;
margin-right:120;
}
.data_top
{
background-image:url('images/border.gif');
width:100%;
height:25;
}

.pagehidden
{
    DISPLAY: none;
}
.pagevisible
{
}

.tablive
{
    MARGIN-TOP: 1em;
	font-size: 10px;
	font-familty: arial;    
}
UL.tabnav
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 2px;
    MARGIN: 6px;
    FONT: 10px;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: SILVER 1px solid;
}
UL.tabnav LI
{
    DISPLAY: inline;
    MARGIN: 1px;
    LIST-STYLE-TYPE: none;
    cursor:pointer;
    TEXT-DECORATION: none;
}

UL.tabnav LI A
{
    BACKGROUND: white;
    Color: gray;
    BORDER-TOP: navy 1px solid;
    BORDER-LEFT: navy 1px solid;
    BORDER-RIGHT: navy 1px solid;
    BORDER-BOTTOM: medium NONE;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 2px;
    MARGIN-LEFT: 2px;
    MARGIN-BOTTOM: 0px;
    TEXT-DECORATION: none;
}

UL.tabnav LI.tabactive A
{
    BACKGROUND: Navy;
    Color: White;
    Font-Weight: Bold;
    BORDER-TOP: navy 1px solid;
    BORDER-LEFT: navy 1px solid;
    BORDER-RIGHT: navy 1px solid;
    BORDER-BOTTOM: medium none;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 3px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 2px;
    MARGIN-LEFT: 2px;
    MARGIN-BOTTOM: 0px;
    TEXT-DECORATION: none;
}

.pagehidden
{
    DISPLAY: none;
}
.pagevisible
{
}